*{
    box-sizing:border-box ;
}
body{margin: 0;}


.center-wrapper{
    max-width: 900px;
    padding-left: 160px;
    padding-right: 160px;
    margin: 0 auto;
    margin-top: 120px;
}

.gap-lg{
    gap: 24px;
}

.header{
    background-color: rgb(145, 14, 58);
    height: 120px;
    width: 100%;
}


.sticky{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
}

.column{
    display: grid;
    grid-template-columns: 1fr;
}

.title{
    margin-top: 24px;
    color: white;
    font-size: 250%;
    font-weight: bolder;
    line-height: var(--header-height);
    margin-left: 50px;
}

.box{
    border: 2px solid rgb(186, 231, 186);
    border-radius: 6px;
    height: 140px;
    width: auto;
    background-color: rgb(186, 231, 186);
    box-shadow: 2px 2px rgb(172, 170, 170);
    text-align: center;
    }

.box-two{
    border: 2px solid rgb(177, 196, 236);
    border-radius: 6px;
    height: 140px;
    width: auto;
    background-color: rgb(177, 196, 236);
    box-shadow: 2px 2px rgb(172, 170, 170);
    text-align: center;
}

.text{
    font-family: sans-serif;
    font-weight: 500;
}

.quotes{
    text-align: center;
}